<div class="">
    <form name="helprequest" ng-submit="vm.postHelpRequest()">
        <div class="parent-request-form">
            <div class="item-request-form">
                <strong>What do you need help with?</strong>
                <textarea class="form-control" rows="5" style="resize: none;" ng-model="vm.helprequest.description" placeholder="Write the details about the help (max. 1000 characters)." maxlength="1000" required oninvalid="setCustomValidity('Required between 10 and 1000 characters.')" oninput="setCustomValidity('')"></textarea>
            </div>
            <div class="item-request-form item-bottom">
                <div class="col-md-6">
                    <span><strong>Category</strong></span>
                    <select class="form-control input-sm" ng-model="vm.helprequest.category" ng-options="category for category in vm.DataModels.helpCategory"></select>
                </div>
                <div class="col-md-6">
                    <span><strong>Title</strong></span>
                    <input type="text" class="form-control input-sm" ng-model="vm.helprequest.title" required placeholder="required" oninvalid="setCustomValidity('Title is required')" oninput="setCustomValidity('')" />
                </div>
                <div class="button-line">
                    <button class="btn btn-request-cancel" ui-sref="home"><i class="fa fa-ban" aria-hidden="true"></i>&nbsp;Cancel</button>
                    <button type="submit" class="btn btn-request-send"><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;Send</button>
                </div>
            </div>
        </div>
    </form>
</div>
