#comment-span:hover{
    cursor: pointer;
}
.btn-comment{
    width:auto;
    height: 30px;
}
.input-comment{
    width: 50%;
    height: 30px;
}
.img-comment{
    float: left;
    width: 30px;
    height: 30px;
}
.img2-comment{
    float: left;
    width: 20px;
    height: 20px;
}
.ul-comment{
    list-style-type: none;
}
.comment-body {
    padding: 10px;
}