<div class="comment-body">
    <form name="comment" ng-submit="vm.postComment()">
        <img class="img-comment" ng-src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Color_icon_purple.svg/225px-Color_icon_purple.svg.png">
        <div class="input-group" style="height: 35px;">
            <input class="form-control input-sm" name="addcmnt" ng-model="vm.comment.content" placeholder="Add comment..." required/>
            <span class="input-group-btn span-position">
                <button class="btn-comment btn btn-sm" type="submit" ng-disabled="comment.addcmnt.$invalid">Comment</button>
            </span>
        </div>
    </form>
    <a class="cursor" ng-show="vm.comments.length" ng-click="isCollapsed = !isCollapsed"><small>Show ({{vm.comments.length}}) comments</small></a>
    <div uib-collapse="!isCollapsed">
        <div ng-repeat="item in vm.comments" >
            <div class="row row-comments-list">
                <div class="col-xs-4 col-comments-list">
                    <img ng-src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Color_icon_purple.svg/225px-Color_icon_purple.svg.png" class="img2-comment">
                    &nbsp;<small>{{item.user.displayName}}</small>
                </div>
                <div class="col-xs-8 col-comments-list" ng-if="vm.user._id !== item.user._id">
                    <span class="cursor"> {{item.content}}</span>
                </div>
                <div class="col-xs-8 col-comments-list" ng-if="vm.user._id === item.user._id" ng-model="contentBoolean">
                    <div ng-hide="contentBoolean" ng-click="contentBoolean = true">
                        <div class="text-center"><strong>{{item.content}}</strong></div>
                    </div>
                    <div ng-show="contentBoolean" class="input-group" style="top: 10px;">
                        <input type="text" ng-model="vm.responseList[$index].title" class="form-control input-sm">
                        <span class="input-group-btn span-position">
                        <button type="button" class="btn btn-sm btn-cancel" ng-click="contentBoolean = false; vm.$onInit()"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <button class="btn btn-sm btn-delete" ng-click="vm.deleteComment(item._id)"><i class="fa fa-trash"></i></button>
                        <button type="button" class="btn btn-sm btn-submit" ng-click="contentBoolean = false; vm.editHelpRequest($index)"><i class="fa fa-check" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 