<div id="wrap" class="col-md-5">
    <div class="container">
        <div class="panel panel-default" class="page-header">
            <h1>Add a Comment</h1>
            <div class="panel-body">
                <ul ng-repeat="c in vm.comments">
                    <li>
                        <img ng-src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Color_icon_purple.svg/225px-Color_icon_purple.svg.png" width="20" height="20"> <span class="badge pull-right">{{vm.currentDate  | date:'medium'}}</span>
                        <span id="commentSpan" ng-hide="editing" ng-click="editing = true">User:{{c.content}}</span>
                        <br>
                        <form name="edtForm" ng-show="editing" ng-submit="editing = false">
                            <br>
                            <input type="text" name="edt" ng-model="c.content" placeholder="Name" required/>
                            <button class="btn btn-info" type="submit" ng-disabled="edtForm.edt.$invalid"ng-click="vm.editComment()">save</button>
                            <button class="btn btn-danger" type="submit" ng-click="vm.deleteComment(c._id)">Del</button>
                        </form>
                    </li>
                </ul>
                <form name="comment" ng-submit="vm.postComment()">
                    <img ng-src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Color_icon_purple.svg/225px-Color_icon_purple.svg.png" width="50" height="50">
                    <input class="form-control" name="addcmnt" ng-model="vm.comment.content" placeholder="your comment here" required/>
                    <button class="btn btn-default" type="submit" ng-disabled="comment.addcmnt.$invalid">Comment</button>
                </form>
            </div>
        </div>
        
    </div>
</div>
