.register-heading {
  background: #3577F8 !important;
  border: 0px ;
  border-radius: 1px;
}

.register{
  border: 0px ;
  border-radius: 1px; 
}

.register-body {
  background: #A3A3A3 !important;
}

.form-control {
  background: #F2F2F2 !important;
  border: 0px ;
  border-radius: 1px;
}