<div class="container">
    <div class="col-md-5 col-centered">
        <div class="panel-heading register-heading no-border"><strong>Login</strong></div>
        <div class="register-body panel-body">
            <form style="font-size: 12px" name="login" ng-submit="auth.login()">
                <div class="form-group">
                    <span><strong>Email Adress</strong></span>
                    <input type="email" class="form-control" ng-model="auth.login.user.email">
                </div>
                <div class="form-group">
                    <span><strong>Password</strong></span>
                    <input type="password" class="form-control" name="pwd" ng-model="auth.login.user.pwd">
                </div>
                <button type="submit" class="btn btn-default">login</button>
            </form>
        </div>
    </div>
</div>
</div>
