<div class="container container1">
    <div class="row">
        <!--------------login-------------->
        <div class="col-md-5">
            <div class="panel no-border panel-default">
                <div class="panel-heading helpme-heading no-border"> <strong>Welcome to Help Me Out!</strong></div>
                <div class="helpme-body panel-body">
                    <p>
                        This is where you can get help form people in your own city or extend help for those how need it.
                        <br>
                        <br> If this is your first visit please crate a profile so you can quickly connect to to your community.
                        <br>
                    </p>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-5" ng-if="$ctrl.isAuthenticated()">
            <div class="panel no-border panel-default">
                <div class="panel-heading helpme-heading no-border"><strong>Please choose:</strong></div>
                <div class="helpme-body panel-body">
                    <div class="form-group">
                        top 3 rating in help me out.
                    </div>
                </div>
            </div>
        </div> -->
        <!-- ========list of help request========== -->
        <div class="col-md-7">
            <div>
                <helpme-users-help-request-list></helpme-users-help-request-list>
            </div>
        </div>
    </div>
</div>