.container1 {
    //color: #999;
    padding-top: 5%;
}

.home-imgs {
    width: 80px;
    height: 80px;
    background: $bgInput;
}
 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      
  }