<style>
     ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
    padding-right: 2px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}

.footer {
  background: #232323;/*$bgDefault*/
  width: 100%;
  height: 43px;
  position:fixed;/*need to be relative in index.html then here absolute*/
  bottom: 0;
  z-index: 1000;
  left: 0;
    text-align: center;
    color: #B0B3B0;
    
}

</style>
<div class="footer">
<div class="footer-social-icons">
    <div class="social-icons">Contact us
        <ul>
    <li><a href="" class="social-icons fa fa-facebook"></a></li>
            <li><a href="" class="social-icons fa fa-google-plus"></a></li>
            <li><a href="" class="social-icons fa fa-github"></a></li>
            <li><a href="" class="social-icons fa fa-linkedin"></a></li>
            </ul>
    </div>
    </div>
</div>