<nav class="navbar navbar-inverse" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" ng-href="#">
      Help Me Out 
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a ng-href="#">Home</a></li>
        <li><a ui-sref="auth">About Us</a></li>
        <li><a ui-sref="auth">Contact Us</a></li>
        <li><a ui-sref="auth">Signup</a></li>
      </ul>
    </div>

  </div>
</nav>