/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */

// bower:scss
// endbower
$bgDefault: #232323;
$bgHighlight: #363636;
$bgBlock: #B0B3B0;
$bgInput: #F2F2F2;
$colDefault: #e5e5e5;
$colHighlight: #3689A5;
body {
    background-color: #444;
    font-family: "Open Sans", sans-serif;
}

.logo {
    font-family: 'Oleo Script', cursive;
    color: #D88E09 !important;
}

.col-centered {
    float: none !important;
    margin: 0 auto !important;
}

.btn,
.no-border {
    border: 0px;
    border-radius: 1px;
}

.helpme-heading {
    background: $colHighlight !important;
}

.helpme-body {
    background: $bgBlock !important;
}

@media only screen and (max-width: 768px) {
    #hide {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #show {
        display: none;
    }
}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector
