.container1 {
    //color: #999;
    padding-top: 5%;
}

.home-imgs {
    width: 80px;
    height: 80px;
}


.user-wrapper .btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    //margin: 5px;
}

.user-wrapper .description {
    padding: 25px;
    background-color: #fff;
}
.user-wrapper img {
    width:100%;
}
