.table-font {
    font-size: 13px;
}

.user-wrapper {
    //border-radius: 0px;
    //-webkit-border-radius: 0px;
    //-moz-border-radius: 0px;
    //margin: 5px;
}

.user-wrapper .description {
    padding: 25px;
    background-color: $bgInput;
    width: 100% !important;
}

.img-user {
    width: 100% !important;
}

.star {
    color: #EEE100;
}

.description-img {
    background-color: $bgInput;
    padding: 10px;
}

.edit {
    display: none;
}

.name:hover + .edit {
    display: inline;
    //background-color: #CCC !important;
}

.date {
    padding-right: 5px;
    padding-left: 10px;
}

.select-date {
    padding-left: 2px;
}

.btn-position {
    //bottom: 5px;
}

.btn-cancel {
    width: 32px;
    &:hover,
    &:focus {
        background-color: #FF6969;
    }
}

.btn-submit {
    &:hover,
    &:focus {
        background-color: #56CF56;
    }
}

@media (max-width: 992px) {
    .description {
        padding-bottom: 0 !important;
        padding-top: 10px !important;
    }
}

@media (max-width: 414px) {
    .img-user {
        width: 85% !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 3px solid $bgInput;
    }
}
