.image-user-profile {
    width: 80px !important;
    height: 80px !important;
}

.parent-user-list {
    border: 4px solid $colHighlight;
   //position: relative;
    width: 100%;
    height: 200px;
    /*flex stuff*/
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    //flex-grow: 1;
}

.item-user-list {
    position: relative;
    margin: 5px;
    background: $bgHighlight;
    color: white;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
    /*flex stuff*/
    //width: 150px;
    height: 180px;
}

.item-image-profile {
    background-color: $bgDefault;
    width: 15%;
}

.item-description-profile {
    background-color: $bgHighlight;
    //flex-grow: 4;
    width: 85%;
}

.description-user-list {
    width: 90%;
    padding-left: 55px;
}

.delete-request-user {
    padding-right: 20px;
}

.span-position{
    bottom: 10px;
}

.request-menu-position {
    height: 35px !important;
    bottom: 5px;
    padding-left: 20px;
}

.request-menu {
    border-radius: 0px;
    width: 270px !important;
    top: 35px;
    left: 20px;
    background-color: $colDefault;
    color: $bgHighlight;
    > li {
        height: 28px;
        margin: 5px;
        line-height: 25px;
        &:hover,
        &:focus {
            background-color: $colHighlight;
        }
    }
}

.span-textarea-position{
    top: 70px;
    bottom: auto;
    right: 32px;
    color: #333;
}

.textarea-position{
    left: 30px;
}

@media (max-width: 766px) {
    .image-user-profile {
        width: 40px !important;
        height: 40px !important;
    }
    .parent-user-list {
    
    }
    .item-user-list {

    }
}

@media (max-width: 412px) {
    .request-menu-position {    
        padding-left: 0px;
    }
    .req-menu-col{
        padding-left: 20px;
        padding-right: 5px;
    }
    .description-user-list {
        padding-left: 25px;
    }
    .delete-request-user {
        padding-right: 10px;
    }

}
