.image-user-profile {
    width: 80px !important;
    height: 80px !important;
}

.parent-user-list {
    border: 4px solid $colHighlight;
    width: 100%;
    height: 200px;
    /*flex stuff*/
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    //flex-grow: 1;
}

.item-user-list {
    margin: 5px;
    background: $bgHighlight;
    color: white;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
    /*flex stuff*/
    //width: 150px;
    height: 180px;
}

.item-image-profile {
    background-color: $bgDefault;
    width: 15%;
}

.item-description-profile {
    background-color: $bgHighlight;
    //flex-grow: 4;
    width: 85%;
}

.description {
    width: 90%;
    padding-left: 25px;
}

.title-user {
    padding-left: 30px;
    padding-top: 5px;
}

.delete-help-user {
    padding-right: 20px;
}

.span-position {
    bottom: 10px;
}

.span-textarea-position {
    top: 70px;
    bottom: auto;
    right: 32px;
    color: #333;
}

.textarea-position {
    left: 30px;
}

@media (max-width: 766px) {
    .image-user-profile {
        width: 40px !important;
        height: 40px !important;
    }
    .parent-user-list {}
    .item-user-list {}
}
